.container {
    padding: 15px 15px;
}

.container button {
    margin-top: 10vh;
    font: normal 1.5rem "Roboto";
    width: 125px;
}

.container h1 {
    font: bolder 4rem "Playfair Display";
}

.container p {
    font: normal 1.75rem "Roboto";
}