{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cater-ing | ...</title>

    <link rel="stylesheet" href="{% static 'css/Homepage-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="container text-right">
                <h1>Welcome!</h1>
                <p> We provide delicious healthy food <br>
                    and send it to your doorstep!</p>
                <a href="{% url 'homepage:qna' %}"><button type="submit" class="btn btn-info">Explore</button></a>
                <a href="{% url 'homepage:about-us' %}"><button type="submit" class="btn btn-info">About Us</button></a>
            </div>
        </div>
    </div>
</body>
</html>