{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{%static 'css/OurTeam-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div id="wrapper">
        <div class="container m-auto ">
            <div class="leftmost rightmost">
                <div class="row mx-2 h-100">
                    <div class="col-lg-6 col-md-12 px-2 my-auto text-justify content-our-team">
                        <h1 class="our-team-title">Our Team</h1>
                        <p class="our-team-subtitle"> We are from group 12, consisted of Alia, Ferdinand, Mikhael, and Jilham.
                            this is our first project in creating a website to fulfill the first group 
                            assignments in the course of web desing and programming. 

                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12 px-2 text-center">
                        <img src="{% static 'images/undraw_team_spirit_hrr4.svg' %}" alt="Out Team Design" class="our-team-img">
                    </div>
                </div>
        
                <h3 class="text-center mt-5 our-team-text">~ Let's meet our fabulous creator ~</h3>
                <div id="carouselExampleControls" class="carousel slide carousel-background" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-content">
                                <img src="{% static 'images/Jilham Luthfi.jpg' %}" class="mx-auto d-block carousel-img" alt="Jilham Luthfi">
                                <div class="carousel-subtitle">
                                    <h5><strong>M. Jilham Luthfi</strong></h5>
                                    <p>Contribute in making of Q&A and About Us pages</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-content">
                                <img src="{% static 'images/Alia.png' %}" class="mx-auto d-block carousel-img" alt="Alia Junisar">
                                <div class="carousel-subtitle white-text">
                                    <h5><strong>Alia Junisar</strong></h5>
                                    <p>-</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-content">
                                <img src="{% static 'images/Jilham Luthfi.jpg' %}" class="mx-auto d-block carousel-img" alt="Jilham Luthfi">
                                <div class="carousel-subtitle white-text">
                                    <h5><strong>M. Jilham Luthfi</strong></h5>
                                    <p>-</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-content">
                                <img src="{% static 'images/Jilham Luthfi.jpg' %}" class="mx-auto d-block carousel-img" alt="Jilham Luthfi">
                                <div class="carousel-subtitle white-text">
                                    <h5><strong>M. Jilham Luthfi</strong></h5>
                                    <p>-</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight justify-content-center">
        <div class="p-2 bd-highlight text-center">Back to Menu >>></div>
        <div class="p-2 bd-highlight text-center">Our Team</div>
        <div class="p-2 bd-highlight text-center"><a href="{% url 'homepage:about-us' %}">About Us</a></div>
    </div>
    
    
</body>
</html>