{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center p-5">
            <form class="text-center" method="POST">
                {% csrf_token %}
                <h1>Feel free to ask</h1>
                <input class="form-control input-style center-content" type="text" name="keyword" placeholder="Type something">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            
            <div class="mt-3 answer-box">
                {{answer.answer}}
            </div>
        </div>
    </div>
{% endblock %}